<nav class="bg-slate-200 p-4 sticky">
  <span class="font-bold text-red-500 m-5 text-2xl">POKEMON TRAINER</span><br /><br />

  <ng-container *ngIf="user !== undefined">
    <ul class="flex">
      <li>
        <a routerLink="/catalogue" class="text-red-600 m-5 hover:text-red-800"
          >Pokemon Catalogue</a
        >
      </li>
      <li>
        <a routerLink="/trainer" class="text-red-600 m-5 hover:text-red-800"
          >Trainer Page</a
        >
      </li>
    </ul>
  </ng-container>
  <ng-container *ngIf="user !== undefined">
    <p class="text-blue-500 text-left flex m-5">
      Logged in as {{ user.username }}
    </p>
  </ng-container>
</nav>
