<h1 class="titleText">Trainer page</h1>
<p id = "listText"> Your pokemon list:</p>
<div class="indexGrid">
    <div *ngFor="let el of yourPoke" class="indexElement">
        <h1 class = "pokeName"> {{el.name}} </h1>
        <img src = {{el.url}} alt="Doesn't work mate">
        <button class="buttonPoke" (click)="onRemoveClick(el.name)"> Remove from inventory </button>
    </div>
</div>
