
<div class="h-screen flex flex-col
items-center text-center">
<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
<fieldset class="mb-3">
  <p for="username" class="block text-center">Pick a name for your Pokemon trainer!</p><br>
  <input type="text"
ngModel
#username="ngModel"
  name="username"
  id="username"
  class="text-sm text-gray-base w-full
  mr-3 py-5 px-4 h-2 border
  border-gray-200 rounded mb-2" />
</fieldset>
<br>
<button type="submit" class="bg-green-400 w-full mt-4 rounded hover:bg-green-500">Login</button>

</form>
</div>
