<main class="container" mx-auto px-4>
  <body><br>
  <h1 class="font-bold text-3xl text-red-500 text-center">
    Welcome to the world of Pokemon!
  </h1><br>

  <app-login-form (login)="handleLogin()"></app-login-form>
</body>
</main>
