<h1 class="titleText">Pokemon Catalogue</h1>
<div class="indexGrid">
    <div *ngFor="let el of pokeList" class="indexElement" id = {{el.name}}>
        <div class="pokeNameBox"> 
            <h1 class = "pokeName"> {{el.name}} </h1>
            <img id = "pokeBall_{{el.name}}" class ="pokeball" src= {{pokeballApiPng}} alt = " [caught]" >
        </div>
        <img src = {{el.url}} alt="Doesn't work mate">
        <button id = "button_{{el.name}}" class="buttonPoke" (click)="favUpdate(el.name)"> Add to inventory</button>
    </div>
</div>  
<div id="expandSpace">
    <button id="expandIndex" (click)="onExpandClick()"> Add more pokemon </button>
</div>

