.indexElement {
    width: 22vw;
    display: block;
    text-align: center;
    border-radius: 25px;
    background-color: white;
}

.pokeName {
    text-transform: capitalize;
    font-size: large;
    margin-top: 10px;
    font-weight: bold;
    color: rgb(44, 44, 44);
}

.indexGrid{
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    padding: 5px;
}

.buttonPoke {
    background-color: rgb(225, 110, 110);
    border-radius: 10px;
    width: 85%;
    margin-bottom: 10px;
    color: white;

}
#expandIndex {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(73, 73, 73);
    margin: 10px;
    color: white;
    font-weight: bold;
}

.titleText {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.pokeNameBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pokeball {
    display: none;
}